<div class="banner">
  <picture>
    <source media="(min-width: 1025px)" srcset="./assets/Sp1-1920.png 992w">
    <source media="(min-width: 768px)" srcset="./assets/Sp1-768.png 768w">
    <source media="(min-width: 375px)" srcset="./assets/Sp1-375.png 375w">
    <img srcset="./assets/Sp1-1920.png" alt="Noctulescence art direction & design">
  </picture>
</div>
