<h1>PROJECTS</h1>

<% @projects.each do |project| %>
  <image_tag> <%= Project.text %> </image_tag>
  <image_tag> <%= Project.image %> </image_tag>
  <image_tag> <%= Project.illustration %> </image_tag>
<% end %>
