<div class="footer">
  <div class="_elements">
    <div class="_contact-card">
      <img src="./assets/Sp16sign-640.png" alt="Signature Sören Naulin">
    </div>
    <div class="_merci-signature">
      <img src="./assets/Sp16mer-640.png" alt="Merci !">
    </div>
  </div>
</div>
