<h1>Mail</h1>

<%= render "shared/flashes" %>
<%= render "shared/modal" %>

<%# <div class="contact">
<!-- Button trigger modal -->
  <a type="button" class="buttonicon" style="fixed" data-toggle="modal" data-target="#ModalID">
    <img src="./assets/Icon-Mail.png">
  </a>
</div> %>
