<div class="project">
  <div class="_text-and-image">
    <img class="_text-alone" src='<%= project.text %>'>
    <img class="_image-alone"src='<%= project.image %>'>
  </div>
  <div class="_illustration">
    <img src='<%= project.illustration %>'>
  </div>
</div>
