/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  font-family: "HelveticaNeue-Light";
  color: seashell;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
._modal-content {
  background-color: #008fd5;
  margin: 30% auto;
  padding: 0px 0px;
  padding-bottom: 3%;
  border: 5px solid seashell;
  border-radius: 7rem;
  width: 40%;
  display: flex;
  justify-content: center;
  input {
    margin: 3px;
    border-radius: 2rem;
    border-style: none;
    font-family: inherit;
  }
  textarea {
    border-radius: 2rem;
    border-style: none;
    font-family: inherit;
  }
}

/* Modal Header "Contactez-moi !" */
._modal-header {
  p {
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
  }
}

// .modal-title {
//   font-size: 2rem;
//   margin-top: 1rem;
//   margin-bottom: -0.5rem;
// }

// .modal-header {
//   margin: auto;
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
//   padding: 0rem 0rem;
//   border-bottom: none;
// }

// .modal-content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: auto;
//   background-color: #008fd5;
//   border-radius: 22.3rem;
//   border: solid;
//   border-color: seashell;
//   bottom: -62rem;
// }



// ._full_name {
//   display: inline-flex;
// }

// ._email {
//   border-radius: 20px;
//   margin-bottom: 0.5rem;
// }

// ._textmessage {
//   display: flex;
//   justify-content: center;
//   textarea {
//     border-radius: 20rem;
//     border-style: none;
//     font-family: inherit;
//   }
// }

.btnsubmit {
  color: white;
  width: 7rem;
  padding-top: 0.2rem;
  // border-color: white;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

// #contact_first_name {
//   border: none;
// }

// #contact_last_name {
//   border: none;
// }

// #contact_email {
//   margin-top: 10px;
//   width: 98%;
//   border: none;
// }

// #contact_message {
//   margin-top: 10px;
//   width: 98%;
//   height: 8vh;
//   border: none;
// }
